{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
        </div>
    </div>
    <!-- Stats Cards -->
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                    <div class="title">
                        <div class="icon"><i class="icon-user-1"></i></div><strong>Statements uploaded</strong>
                    </div>
                    <div class="number dashtext-1">{{ statements_count }}</div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong>Spent</strong>
                        </div>
                        <div class="number dashtext-1">{{ spent }}</div>
                        </div>
                        </div>
                </div>
    
            </div>
        </div>
    </section>
    <!-- End of stats Cards -->
    
    <!-- Spends pie charts -->
    <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-9">
                <div class="pie-chart chart block">
                  <div class="title"><strong>Categories</strong></div>
                  <div class="pie-chart chart margin-bottom-sm">
                    <canvas id="pieChartCustom1"></canvas>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; font-size:0.7rem;border: 1px solid #ccc; width: 100%">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>                

            </div>
            </div>
        </div>
    </section>
    <!-- Spends Pie Charts ends -->

</div>

{% include 'includes/scripts.html' %}
<script>
    var frm = $('#test');
    function btntest() {
        $.ajax({
            type: 'GET',
            url: frm.attr('action'),
            data: {},
            success: function (data) {
              alert('Submitted Successfully')
            },
            error: function(data) {
              alert('Sending message failed')
            }
        });
        return false;
    }
  
    var start = moment().subtract(29, 'days');
    var end = moment();
    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));


    $(function() {
        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            $.ajax({
                url:"{% url 'home' %}",
                method: "GET", // or POST
                data: {'from':start.format('YYYY-MM-DD'), 'to': end.format('YYYY-MM-DD')},
                success:function(result) {
                    console.log('Sent successfulluy')
                }
            });
        }
        
    
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },

        }, cb);
        //cb(start,end);
    });

    var PIECHARTEXMPLE    = $('#pieChartCustom1');
    var pieChartExample = new Chart(PIECHARTEXMPLE, {
        type: 'pie',
        options: {
            legend: {
                display: true,
                position: "left"
            }
        },
        data: {
            labels: {{ labels|safe }},
            datasets: [
                {
                    data: {{ data|safe }},
                    borderWidth: 0,
                    backgroundColor: [
                        '#723ac3',
                        "#864DD9",
                        "#9762e6",
                        "#a678eb"
                    ],
                    hoverBackgroundColor: [
                        '#723ac3',
                        "#864DD9",
                        "#9762e6",
                        "#a678eb"
                    ]
                }]
            }
    });

    var pieChartExample = {
        responsive: true
    };
</script>

{% endblock %}